/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Aa]ssets/MemoryCapturer/
/[Aa]ssets/AssetStoreTools*
.idea.*/
.vs/
.gradle/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.tlog
/*.pidb.meta
/*.syncproj.meta
sysinfo.txt
*.apk
*.unitypackage

# Ignore GitNexus local databases and GitNexus cloned repository source
/.gitnexus/
/GitNexus/
/Wibupixel/
